.sub-card {
  background-color: var(--dark-color);
  padding: 20px;
}

.bordinha {
    padding: 10px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    align-items: center;
}

.textin {
    font-size: 22px;
}
